body {
    background-color: rgb(220, 248, 252);
  }
  h1 {
    color: blue;
  }
  p {
    color: black;
  }
  
  .main{
    margin-bottom: auto;

  }

  .header{
    background-color: #8dbdf3;
  }
  
  .block1{
    padding: 30px 30px;
    margin: 10px;
  }

  .profile-logo{
    width: 200px;
    height: 200px;
    border-bottom-right-radius: 50%;
  }

  .profile-title{
    display: flex;
    flex-direction: column;
  }

  .main-title{
    position: relative;
  }

  .sec-contacts{
  padding: 10px;

  }
  .sec-about{
    padding: 10px;
  
    }

    .sec-list{
      padding: 10px;
    }

    .showcode {
      font-family: monospace;
      white-space: pre;
  }
  
  .footer {
    background-color: #8dbdf3;
    padding: 20px;
  }

  .sec-footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;

  }
  
  .rss {
    width: 121px;
    height: 45px;
    background-image: url(./assets/svg/rs_school_js.svg);
    
}
