body {
    background-color: rgb(220, 248, 252);
  }
  h1 {
    color: blue;
  }
  p {
    color: black;
  }
  
  .main{
    margin-bottom: auto;

  }

  .block1{
    padding: 30px 30px;
    margin: 10px;
  }

  .profile-logo{
    width: 200px;
    height: 200px;
    border-bottom-right-radius: 50%;
  }

  .profile-title{
    display: flex;
    flex-direction: column;
  }

  .main-title{
    position: relative;
  }

  .sec-contacts{
  padding: 10px;

  }
  .sec-about{
    padding: 10px;
  
    }

    .sec-list{
      padding: 10px;
    }

    .showcode {
      font-family: monospace;
      white-space: pre;
  }